@{
    ViewData["Title"] = "Quản lý thời khóa biểu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <h1>Quản lý thời khóa biểu</h1>
    <p>Trang quản lý thời khóa biểu đang được phát triển...</p>
</div>
